<h1><%= @group.name %></h1>
<h3>owner: <%= @group.user.name %></h3>

<div class="row">
  <div class="large-6 columns">
  	<table>
			<% @group.users.each do |user| %>
				<tr>
					<td><%= user.name %></td>
					<% if current_user.owns?(@group) %>
						<td><%= button_to('remove user', group_remove_path(id: @group.id, user_id: user.id), class: 'button tiny alert', method: :delete) unless user.owns?(@group) %></td>
					<% end %>
				</tr>
			<% end %>
		</table>
		<% if current_user.owns?(@group) %>
			<%= render 'links'  %>
		<% else %>
			<%= button_to('leave group', group_remove_path(id: @group.id, user_id: current_user.id), class: 'button tiny alert', method: :delete) %>
		<% end %>
	</div>
  <div class="large-6 columns">
  	<% if current_user.owns?(@group) && @group.unconfirmed_requests.any? %>
			<table>
				<tr>
					<td>name</td>
				</tr>
				<% @group.unconfirmed_requests.each do |request| %>
					<td><%= link_to request.user.name, user_path(request.user.id) %></td>
				<% end %>
			</table>
  	<% end %>
  </div>
</div>

<% if can_request_group?(current_user, @group) %>
	<div id="request-form">
		<%= form_tag(requests_group_path, method: :post, remote: true) do %>
			<%= hidden_field_tag(:group_id, @group.id) %>
			<%= submit_tag('request to join!', class: 'button tiny') %>
		<% end %>
	</div>
<% end %>

<% if requested_user_by_group(current_user, @group) %>
	<%= form_tag(requests_path, method: :patch) do %>
		<%= hidden_field_tag(:user_id, current_user.id) %>
		<%= hidden_field_tag(:group_id, @group.id) %>
		<%= hidden_field_tag('request[user_confirm]', true) %>
		<%= submit_tag('accept user', class: 'button tiny') %>
	<% end %>
<% end %>

<% if requested_group_by_user(current_user, @group) %>
	<%= render 'requests/delete_form', user: current_user, group: @group %>
<% end %>

