<h1><%= @group.name %></h1>
<h3>owner: <%= @group.user.name %></h3>

<ul>
	<% @group.users.each do |user| %>
		<li><%= user.name %></li>
	<% end %>
</ul>

<% if can_request_group?(current_user, @group) %>
	<%= form_tag(requests_group_path, id: 'request-form', method: :post, remote: true) do %>
		<%= hidden_field_tag(:group_id, @group.id) %>
		<%= submit_tag('request to join!', class: 'button tiny') %>
	<% end %>
<% end %>

<%= render 'links' if current_user.owns?(@group) %>