<h2><%= @user.name %></h2>

<div class="row">
  <div class="large-6 columns">
	</div>
  <div class="large-6 columns">
  	<% if current_user == @user && @user.unconfirmed_requests.any? %>
			<table>
				<tr>
					<td>name</td>
				</tr>
				<% @user.unconfirmed_requests.each do |request| %>
					<td><%= link_to request.group.name, group_path(request.group.id) %></td>
				<% end %>
			</table>
  	<% end %>
  </div>
</div>

<% if can_request_user?(@user, current_user.group) %>
	<div id="request-form">
		<%= form_tag(requests_user_path, method: :post, remote: true) do %>
			<%= hidden_field_tag(:user_id, @user.id) %>
			<%= submit_tag('request to join!', class: 'button tiny') %>
		<% end %>
	</div>
<% end %>

<% if requested_group_by_user(@user, current_user.group) %>
	<%= form_tag(requests_path, method: :patch) do %>
		<%= hidden_field_tag(:user_id, @user.id) %>
		<%= hidden_field_tag(:group_id, current_user.group.id) %>
		<%= hidden_field_tag('request[group_confirm]', true) %>
		<%= submit_tag('accept user', class: 'button tiny') %>
	<% end %>
<% end %>


<% if requested_user_by_group(@user, current_user.group) %>
	<%= render 'requests/delete_form', user: @user, group: current_user.group %>
<% end %>

